.form {
  padding: 20px;
  color: var(--text-light-color);
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: thin solid #7b9b74;
  width: 30rem;
}

.form h2 {
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: thin solid #000;
  margin-bottom: 1rem;
}

.grid-section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 90%;
  border: thin solid var(--second-color);
}

input[type="text"],
input[type="password"],
input[type="search"],
textarea {
  width: 18rem;
  margin-bottom: 8px;
}

input[readonly],
textarea[readonly] {
  background-color: transparent;
  color: var(--text-light-color);
}

textarea {
  resize: none;
}

select {
  width: max-content;
}

.enterprice-logo {
  width: 10rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: var(--border1);
}

.eslogan {
  font-family: var(--font);
  background-color: transparent;
  border: var(--border1);
  color: var(--text-light-color);
  padding: 1rem;
}

.button-group {
  flex-direction: row;
  flex-wrap: wrap;
  border: none;
}

.short-button {
  width: 10rem;
  margin: 5px 0px;
}

input[type="checkbox"]:checked {
  background-color: var(--first-color);
}

table {
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

@media (max-width: 540px) {
  .form {
    width: auto;
  }
  .form-group {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .primary-button {
    width: 100%;
    margin: 5px 20px;
  }
}
