/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/*------------- Estilos para la barra lateral ----------------*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logo img {
  /*   font-size: 24px; */
  width: 24px;
  margin-right: 10px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.menu a:hover {
  background-color: #555;
  border-radius: 4px;
}

.menu a .description {
  margin-left: 10px;
}

.menu li img {
  width: 20px;
  height: auto;
}
/*Estilos para el proceso acual*/
.menu li.current a {
  background-color: var(--second-color);
}
/* Estilos para elementos completados */
.menu li.completed a {
  background-color: var(--first-color);
}

.toggle-description {
  display: none;
}

.toggle-description span {
  display: none;
}

/* Estilos para el contenido principal */
.content {
  margin-left: 260px; /* Ancho de la barra lateral */
  padding: 10px;
  /*  border: thin solid red; */
}
/* -----------------------------fin estilos barra lateral------------------------- */

@media (max-width: 1100px) {
  .double-large-size {
    grid-column: span 1;
  }
}

/* Estilos para pantallas estrechas (mobile) */
@media (max-width: 768px) {
  .sidebar {
    width: fit-content;

    padding-left: 10px;
    height: auto;
    /*  justify-content: center; */
    /* position: static; */
  }

  .content {
    margin-left: 70px;
  }
  /* Estilos para el botón "Mostrar Descripción" */
  .toggle-description {
    margin-top: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .toggle-description i {
    font-size: 20px;
    margin-right: 10px;
  }

  .logo span {
    display: none;
  }
  .menu li {
    text-align: center;
  }

  .menu a .description {
    display: none;
  }

  .menu a .description.show {
    display: inline;
  }

  .span-toggle.show {
    display: inline;
  }

  .span-logo.show {
    display: inline;
  }
}

@media (max-width: 540px) {
  .large-size {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}

@media (max-width: 430px) {
  .sidebar {
    display: none;
  }

  .content {
    margin-left: auto;
  }
}
