/* estilos comunes para las hojas de producción */

body {
  background-color: var(--background-color);
  color: var(--white-color);
}

header {
  text-align: center;
  padding: 20px;
}

/* container para form con 2 columnas, la primera el triple de tamaño que la segunda */
.form-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
  border: thin solid var(--first-color);
  border-radius: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

/* Container formulario de 1 columna y tres filas */
.form-container2 {
  /* display: grid; */
  /*  grid-template-columns: 1fr; */
  /*  grid-template-rows: 1fr 1fr 1fr; */
  /* grid-gap: 20px; */
  border: thin solid var(--first-color);
  border-radius: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

/* secciones de tres columnas */
.triple-section {
  display: grid;
  grid-template-columns: repeat(3, auto); /* tres columnas de igual tamaño */
  grid-template-rows: auto auto; /* tres filas de altura automática */
  grid-gap: 10px; /* Espacio entre elementos */
  border-radius: 8px;
  border: thin solid var(--first-color);
  padding: 10px;
}

/* secciones de 4 columnas */

.quad-section {
  display: grid;
  grid-template-columns: repeat(4, auto); /* cuatro columnas de igual tamaño */
  grid-template-rows: auto auto; /* filas de altura automática */
  grid-gap: 10px; /* Espacio entre elementos */
  border-radius: 8px;
  border: thin solid var(--first-color);
  padding: 10px;
}

.five-section {
  display: grid;
  grid-template-columns: repeat(5, auto); /* cinco columnas de igual tamaño */
  grid-template-rows: auto auto; /* filas de altura automática */
  grid-gap: 10px; /* Espacio entre elementos */
  border-radius: 8px;
  border: thin solid var(--first-color);
  padding: 10px;
}

.triple-section label,
.five-section label {
  min-width: 7rem;
}

.quad-section label {
  min-width: 7rem;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: thin solid red; */
}

.double-size {
  grid-column: span 2; /* Ocupa dos columnas en la grid */
}

/* Ajustar el tamaño de los inputs */

.double-size input {
  flex: 2; /* Inputs de tamaño doble ocupan 2 partes (el doble) */
}

.triple-size {
  grid-column: span 3;
}

.triple-size input {
  flex: 3; /* Inputs de tamaño doble ocupan 3 partes  */
}

input[type="text"],
select {
  width: 10rem;
  padding: 2px 2px;
  font-size: 1.2rem;
  border: 1px solid var(--black-color);
  border-radius: 4px; /* Añade esquinas redondeadas */

  background-color: var(--first-color);
  color: var(--text-light-color);
  font-family: var(--font);
}
/*=============Estilos para grupo de botones=================*/

.button-group {
  grid-column-start: 2;
  /* margin: 20px 50px 0px 20px; */
  padding: 10px;
  border-radius: 8px;
  border: thin solid var(--first-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: var(--background-color);
}

/* Estilos para botón primario */
.primary-button {
  background-color: var(--secondbackground-color);
  color: var(--text-dark-color);
  font-size: large;
  padding: 5px 20px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75); /* Añadir sombra  */
  transition: all 0.2s ease-in-out;
}

.primary-button:hover {
  color: var(--text-light-color);

  transform: translateY(-2px);
}

.primary-button:active {
  transform: translateY(2px);
  box-shadow: none;
  background-color: var(--second-dark-color);
}

/* Estilos para botón secundario */
.secondary-button {
  background-color: #6c757d;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para botón de peligro o alerta */
.danger-button {
  background-color: var(--third-color);
  color: var(--text-dark-color);
  font-size: large;
  padding: 5px 20px;
  /*  border: none; */
  border-radius: 6px;
  cursor: pointer;
}

.danger-button:hover {
  color: var(--text-light-color);
}

/* Estilos para botón de enlace */
.link-button {
  background-color: transparent;
  color: #007bff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: underline;
}
