/* estilos comunes para las hojas de producción */

body {
  background-color: var(--background-color);
  color: var(--white-color);
}

header {
  text-align: center;
  padding: 20px;
}

/* container para form con 2 columnas, la primera el triple de tamaño que la segunda */
.form-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
  border: thin solid var(--first-color);
  border-radius: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.form-container2x1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  border: thin solid var(--first-color);
  border-radius: 10px;

  /*  margin-left: auto;
  margin-right: auto; */
  padding: 10px;
}

/* Container formulario contenedor básico */
.form-container2 {
  border: thin solid var(--first-color);
  border-radius: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  border: thin solid var(--first-color);
  padding: 10px;
  border-radius: 10px;
}

.flex-container-wrap {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 600px; */
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  border: thin solid var(--first-color);
  padding: 10px;
  border-radius: 10px;
}

/* para que los items internos del flexbox crescan hasta ocupar el espacio disponible */
.item-container {
  flex-grow: 1;
}

/* =============Estilos para input text y select de solo lectura y para ingreso ====== */

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 10rem;
  padding: 2px 2px;
  font-size: 1.2rem;
  background-color: var(--secondbackground-color); /* Color de fondo */
  color: var(--text-dark-color); /* Color del texto */
  border: 1px solid var(--gray-light-color); /* Borde */
  border-radius: 4px; /* Añade esquinas redondeadas */
  font-family: var(--font);
  cursor: text;
}

select {
  cursor: pointer;
}

/* Estilos para input en modo de solo lectura */
input[readonly],
textarea[readonly],
select[disabled] {
  background-color: transparent;
  color: var(--text-light-color); /* Color del texto */
  border: thin solid var(--secondbackground-color);
  /* Otras propiedades visuales opcionales, como el cursor */
  cursor: not-allowed;
}

/*---------------- Estilos para los checkboxes ----------------------------*/
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--second-color);
  border: 2px solid var(--text-dark-color);
  border-radius: 4px;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--third-color);
}

/* --------------------Estilos para Input Radio ----------------------------- */

.radio-container input[type="radio"] {
  display: none;
}

.radio-container label {
  display: inline-block;
  padding: 6px 12px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  color: var(--text-dark-color);
  min-width: 12rem;
  margin-left: 10px;
  margin-bottom: 10px;
}

.radio-container input[type="radio"]:checked + label {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

input[type="radio"] + label {
  line-height: 1.5rem;
}
input[type="radio"] + label:before {
  content: "";
  width: 26px;
  height: 26px;
  float: left;
  margin-right: 0.5rem;
  border: 2px solid #ccc;
  background: #fff;
  /* margin-top: 0.5em; */
}

input[type="radio"] + label:before {
  border-radius: 100%;
}

/* input[type="radio"]:checked + label {
  background: #c1eec2;
} */

input[type="radio"]:checked + label:after {
  content: "";
  width: 0;
  height: 0;
  /* border: 7px solid #0fbf12; */
  border: 7px solid var(--third-color);

  float: left;
  margin-left: -1.75rem;
  margin-top: 0.4rem;
  border-radius: 100%;
}

/* ==================Secciones de columnas automáticas ====================*/

.grid-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 10px; /* Espacio entre elementos */
  border-radius: 8px;
  border: thin solid var(--first-color);
  padding: 10px;
}

.grid-section label {
  min-width: 7rem;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: thin solid red; */
}

/* Ocupa dos columnas en la grid */
.double-size {
  grid-column: span 2;
}

/* Ajustar el tamaño de los inputs */

.double-size input {
  flex: 2; /* Inputs de tamaño doble ocupan 2 partes (el doble) */
  max-width: 532px;
}

.triple-size {
  grid-column: span 3;
}

.triple-size input {
  flex: 3; /* Inputs de tamaño doble ocupan 3 partes  */
}

.large-size {
  font-size: 1.5rem;
}
.large-size input[type="text"],
.large-size select {
  font-size: 2rem;
}

.double-large-size {
  grid-column: span 2;
}

.double-large-size input[type="text"] {
  font-size: 2rem;
  flex: 2;
}

/*=============Estilos para grupo de botones=================*/

.button-group {
  grid-column-start: 2;
  /* margin: 20px 50px 0px 20px; */
  padding: 10px;
  border-radius: 8px;
  border: thin solid var(--first-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: var(--background-color);
}

/* Estilos para botón primario */
.primary-button {
  background-color: var(--secondbackground-color);
  color: var(--text-dark-color);
  font-size: large;
  padding: 5px 20px;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75); /* Añadir sombra  */
  transition: all 0.2s ease-in-out;
}

.primary-button:hover {
  /* color: var(--text-light-color); */

  transform: translateY(-2px);
}

.primary-button:active {
  transform: translateY(2px);
  box-shadow: none;
  background-color: var(--second-dark-color);
}

/* =======================Boton desactivado========================= */
/* Estilo para un botón deshabilitado */
button:disabled {
  background-color: #ccc; /* Cambia el color de fondo cuando está deshabilitado */
  color: #999; /* Cambia el color del texto cuando está deshabilitado */
  cursor: not-allowed; /* Cambia el cursor cuando está deshabilitado */
  /* Otros estilos deseados */
}

/* Estilo para un botón deshabilitado cuando se coloca el cursor sobre él */
button:disabled:hover {
  background-color: #ccc; /* Cambia el color de fondo cuando está deshabilitado */
  color: #999; /* Cambia el color del texto cuando está deshabilitado */
  /* Otros estilos deseados */
}

/* Estilos para botón secundario */
.secondary-button {
  background-color: #6c757d;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para botón de peligro o alerta */
.danger-button {
  background-color: var(--third-color);
  color: var(--text-light-color);
  font-size: large;
  padding: 5px 20px;
  /*  border: none; */
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75); /* Añadir sombra  */
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.danger-button:hover {
  background-color: red;
  transform: translateY(-2px);
}

.danger-button:active {
  transform: translateY(2px);
  box-shadow: none;
  background-color: var(--second-dark-color);
}

/* Estilos para botón de enlace */
/* .link-button {
  background-color: transparent;
  color: #007bff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: underline;
} */
.buttonLink {
  background: none;
  border: none;
  color: var(--link-color);
  /*  width: 100%; */
  margin: 0.5rem;
  cursor: pointer;
  /* font-style: italic; */
  font-size: 1.2rem;
}

.buttonLink:hover {
  color: rgb(196, 248, 239);
}

.graph-button {
  width: 5rem;
  height: 5rem;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.success-button {
  background-color: #4caf50; /* Verde */
  color: #fff; /* Texto en blanco */
}

/*------------- Estilos para la barra lateral ----------------*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: var(--black-color);
  color: var(--text-light-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logo img {
  /*   font-size: 24px; */
  width: 24px;
  margin-right: 10px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.menu a:hover {
  background-color: #555;
  border-radius: 4px;
}

.menu a .description {
  margin-left: 10px;
}

.menu li img {
  width: 20px;
  height: auto;
}
/*Estilos para el proceso acual*/
.menu li.current a {
  background-color: var(--second-color);
}
/* Estilos para elementos completados */
.menu li.completed a {
  background-color: var(--first-color);
}

.toggle-description {
  display: none;
}

.toggle-description span {
  display: none;
}

/* Estilos para el contenido principal */
.content {
  margin-left: 260px; /* Ancho de la barra lateral */
  padding: 10px;
  /*  border: thin solid red; */
}
/* -----------------------------fin estilos barra lateral------------------------- */

/* -------------------------------TABLAS-------------------------- */
.llantas-table {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tbody tr:nth-child(odd) {
  background-color: var(--secondbackground-color);
}

tbody tr:nth-child(even) {
  background-color: var(--gray-light-color);
}

th,
td {
  padding: 2px;

  border: 1px solid var(--white-color);
  text-align: center;
  font-family: var(--font);
}

th {
  background-color: var(--first-color);
}

td {
  color: var(--text-dark-color);
}

a {
  color: var(--link-color);
}

/* ----------------------------FIN TABLAS---------------------------- */

@media (max-width: 1100px) {
  .double-large-size {
    grid-column: span 1;
  }
}

/* Estilos para pantallas estrechas barra lateral */
@media (max-width: 768px) {
  .sidebar {
    width: fit-content;

    padding-left: 10px;
    height: auto;
    /*  justify-content: center; */
    /* position: static; */
  }

  .content {
    margin-left: 70px;
  }
  /* Estilos para el botón "Mostrar Descripción" */
  .toggle-description {
    margin-top: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .toggle-description i {
    font-size: 20px;
    margin-right: 10px;
  }

  .logo span {
    display: none;
  }
  .menu li {
    text-align: center;
  }

  .menu a .description {
    display: none;
  }

  .menu a .description.show {
    display: inline;
  }

  .span-toggle.show {
    display: inline;
  }

  .span-logo.show {
    display: inline;
  }
}

.error-message {
  color: var(--alert-color);
}

/*================= Media queries =============================*/

@media (max-width: 540px) {
  .large-size {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}

@media (max-width: 430px) {
  .sidebar {
    display: none;
  }

  .content {
    margin-left: auto;
  }
}

/* Media queries */
@media (max-width: 1200px) {
  .triple-size {
    grid-column: span 2;
  }
}

/* Media queries */
@media (max-width: 1000px) {
  .triple-size {
    grid-column: span 1;
  }

  .double-size {
    grid-column: span 1;
  }
}

@media (max-width: 768px) {
  .form-container {
    grid-template-columns: 1fr;
  }

  .form-container2x1 {
    grid-template-columns: 1fr;
  }

  .orden-section,
  .llantas-section,
  .button-group {
    grid-column-start: auto;
  }

  .grid-section label {
    min-width: 5rem;
  }

  .large-size {
    font-size: 1.2rem;
  }
  .large-size input[type="text"],
  .large-size select {
    font-size: 1.2rem;
  }

  .double-large-size input[type="text"] {
    font-size: 1.2rem;
  }

  .time-size {
    width: 25rem;
  }

  .time-size input[type="text"] {
    width: 15rem;
  }
}
