/*-------------Container central-----------------------------*/
.flex-container-wrap {
  align-items: stretch;
}
/* ------------Estilos de la tabla---------------------- */
.parches-table {
  overflow-x: auto;

  margin: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tbody tr:nth-child(odd) {
  background-color: var(--secondbackground-color);
}

tbody tr:nth-child(even) {
  background-color: var(--gray-light-color);
}

th,
td {
  padding: 2px;

  border: 1px solid var(--white-color);
  text-align: center;
  font-family: var(--font);
}

th {
  background-color: var(--first-color);
}

td {
  color: var(--text-dark-color);
}
