:root {
  --background-color: #2a4152;
  --secondbackground-color: #bcbfcf;
  --first-color: rgb(68, 114, 196);
  --first-alpha-color: rgba(68, 114, 196, 0.75);

  --second-color: #5c8273;

  --second-dark-color: rgb(70, 98, 87);
  --second-alpha-color: rgba(92, 130, 115, 0.75);

  --third-color: rgb(80, 20, 100);
  --third-alpha-color: rgba(80, 20, 100, 0.75);

  --alert-color: red;

  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #4e4e4e;
  --black-color: #000;
  /*  --link-color: #509ee3; */
  --link-color: rgb(71, 241, 99);

  --title-color: #333;
  --text-dark-color: #000;
  --text-light-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: Arial, Helvetica, sans-serif;
  --max-width: 1400px;
  --border1: thin solid var(--second-color);
}
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--font);
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  max-width: var(--max-width);
  background-color: var(--background-color);
  /* color: var(--text-light-color); */

  /* Tamaño de letra responsive */
  font-size: clamp(
    14px,
    calc(14px + ((18 - 14) * ((100vw - 300px) / (1400 - 300)))),
    18px
  );
}

img {
  width: 100%;
  height: auto;
}
