<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>MarcaListServlet</servlet-name>
        <servlet-class>controladores.MarcaListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarcaCrearServlet</servlet-name>
        <servlet-class>controladores.MarcaCrearServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarcaVerificarServlet</servlet-name>
        <servlet-class>controladores.MarcaVerificarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarcaBuscarServlet</servlet-name>
        <servlet-class>controladores.MarcaBuscarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarcaEditarServlet</servlet-name>
        <servlet-class>controladores.MarcaEditarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarcaEliminarServlet</servlet-name>
        <servlet-class>controladores.MarcaEliminarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarcaListServlet</servlet-name>
        <url-pattern>/MarcaListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarcaCrearServlet</servlet-name>
        <url-pattern>/MarcaCrearServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarcaVerificarServlet</servlet-name>
        <url-pattern>/MarcaVerificarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarcaBuscarServlet</servlet-name>
        <url-pattern>/MarcaBuscarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarcaEditarServlet</servlet-name>
        <url-pattern>/MarcaEditarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarcaEliminarServlet</servlet-name>
        <url-pattern>/MarcaEliminarServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
